# build only master branch on commit's
# all other branches build on PullRequest creation
branches:
  only:
    - master

language: rust

matrix:
  fast_finish: true

  include:
    - rust: nightly
      env: 
        - TARGET=armv7-unknown-linux-gnueabihf
        - CFLAGS='-std=c11 -mfpu=neon-fp-armv8 -mfloat-abi=hard -march=armv8-a -Wall -O3 -nostartfiles -ffreestanding -mtune=cortex-a53'
        - RUSTFLAGS='-C target-cpu=cortex-a53 -C target-feature=+a53,+fp-armv8,+v8,+vfp3,+d16,+thumb2,+neon'

script:
  cargo build --target armv7-unknown-linux-gnueabihf --verbose

install:
  - sudo apt-get install gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf
  - rustup target add armv7-unknown-linux-gnueabihf